//主色调
$primary-color:#1890ff;           //全局颜色
$link-color:#1890ff;              //链接颜色
$text-color:rgba(0, 0, 0, .65);   //全局主文本颜色
$text-size:16px;                    //全局文本字号

//header部分
$header-bgCol:#1890ff;
